/* All styles for your header Components live here */
.header-container {
  display: flex;
  align-items: flex-start;

  /* border: 1px solid black; */
  max-width: 760px;
  margin: 0 auto;
}

.header-title p {
  font-weight: bold;
}

.logo-div {
  height: 50px;
  width: 60px;
}

.lambda-logo {
  /* border-radius: 50px; */
  /* width: ; */
  height: 100%;
  transform: translate(0px, 15px);
}

.header-div {
  max-width: 500px;
  /* border: 1px solid black; */
}

.header-content {
  font-size: 14px;
}
