/* All styles for your header Components live here */
.header-container {
  display: flex;
}

.header-title p {
  font-weight: bold;
}

.thumbnail {
  border-radius: 50px;
  width: 25%;
  height: auto;
}
